/* side left style */
body {
    margin: 0;
}

p {
    font-family: roboto, arial, sans-serif;
}

P.dontHave,
p.haveAcc {
    font-size: 14px;
    text-align: center;
    color: #1B1A60;
    opacity: 50%;
}
.another,
.backto {
    font-size: 14px;
    text-align: center;
    color: #18175B;
}

a {
    font-weight: bold;
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    height: 700px;
}

input {
    border: none;
    border-style: solid;
    border-width: 0.1ch;
    border-color: #D7DBE0;
    border-radius: 10px;
    padding-left: 6px;
}

.logo {
    width: 100px;
}

.side-left {
    display: grid;
    flex-direction: column;
    background: linear-gradient(#21206C, #18175B);
    padding: 6rem;
}

.caption-signup {
    color: white;
    font-family: Inter, arial, sans-serif;
}

.caption-login,
.caption-forgot {
    color: white;
    font-family: Inter, arial, sans-serif;
    font-size: 24px;
}

p.subtitle {
    opacity: 50%;
    font-size: 16px;
}

.slider1 {
    width: 20px;

}

.icon {
    padding: 0px;
}

.iconSosmed {
    width: 20px;
}

li {
    display: inline-block;
    margin: 8px;
}

/* side right style */
.side-right {
    flex: 2;
    flex-direction: grid;
    background-color: white;
    padding: 8rem;
}

.title1 {
    font-family: roboto;
    font-weight: bold;
    color: #2B3C53;
    line-height: 2px;
}

.caption2 {
    color: #1B1A60;
    opacity: 50%;
}

label {
    position: absolutes;
    font-family: roboto, arial, sans-serif;
    font-style: s normal;
    font-weight: bold;
    font-size: 14px;
    color: #364962;
    line-height: 30px;
}

.lupa {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    color: #1A195F;
    font-weight: bold;
    font-size: 14px;
    font-style: normal;
}

#username {
    width: 400px;
    height: 40px;
    margin-bottom: 6px;
}

::placeholder {
    color: #D1D7DF;
}

#emailAddress {
    width: 400px;
    height: 40px;
    margin-bottom: 6px;
}

#password {
    width: 400px;
    height: 40px;
    margin-bottom: 6px;
}

#newPassword{
    width: 400px;
    height: 40px;
    margin-bottom: 6px;
}

button {
    font-family: roboto, arial, sans-serif;
    font-weight: 500;
    width: 410px;
    height: 50px;
    color: white;
    background-color: #1A195F;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button.btn {
    background-color: white;
    color: #757492;
    border: none;
    border-style: solid;
    border-width: 0.1ch;
    border-color: #D7DBE0;
    border-radius: 10px;
}

.imgG {
    width: 28px;
    height: 28px;
    margin-bottom: -8px;

}

.foots {
    font-family: roboto;
    font-weight: 400;
    display: flex;
    font-size: 12px;
    padding: 0rem;
    color: white;
}

.circle1 {
    background: white;
    opacity: 5%;
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-end-start-radius: 100%;
    bottom: 60%;
    right: 50%;
}

.circle2 {
    background: white;
    opacity: 5%;
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-start-end-radius: 100%;
    top: 55%;
    left: -10%;
}